h5, p {
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .625rem;
  margin: 0 auto;  
 
}

/* .four-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
} */

.card {
  display: flex;
  width: 100%;
  max-width: 25rem;  
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #ddd; 
  border-radius: var(--border-tear-drop);
  padding: 2rem 2.3rem;
  background: linear-gradient(180deg, rgba(1 27 43 / 100%) 0%, rgba(0 19 30 / 0%) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.card:hover {
  background-image: url("/assets/card-background.svg");
}

.three-cards .card {
  height: 21.56rem;
}

.four-cards .card {
  width: 19.49rem;
  height: 458.71px;
  padding: 3.2rem 2.4rem  ;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0.58rem;
}

.card-header > h5 {
  color: var(--text-inverse);
}



.card-link-icon > p {
  display: flex;
  justify-content: flex-end;
} 

.card-link-icon a.button:any-link,
.card-link-icon > p > span {
  all:unset
}

.icon-cardarrow {
  display: contents;
}

.card-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.icon-cardarrow > img {
  width: 2.45rem;
  height: 2.45rem;
  cursor: pointer;
}

.card-background-image > picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-header > p > picture > a > img {
  width: 2.5rem;
  height: 2.5rem;
}

.button-container .icon-cardarrow img {
  cursor: pointer;
}

@media (width >= 600px) {
  .four-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .four-cards .card {
    width: 32.37rem;
    height: 48.66rem;
    max-width: 100%;
    padding:  4.87rem 4.2rem;
  }

  .card-header > h5 {
    font-size: var(--heading-font-l);
  }

  .icon-cardarrow > img {
    width: 4rem;
    height: 4rem;
  }

}

@media (width >= 768px) {
  .four-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .four-cards .card {
    max-width: calc(50% - 16px);
    width: 20.625rem;
    height: 31.0625rem;
    padding: 2.7062rem;

  }

  .four-cards .card .card-header > h5 {
    font-size: var(--heading-font-m);
  } 

  .icon-cardarrow > img {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (width >= 992px) {  
  .cards .card {
    width: 25.5rem;
    height: 28.38rem;
    padding: 2.5rem 3rem;
  }

  .four-cards {
    flex-direction: row;
  }

  .four-cards .card {
    width: 12.37rem;
    height: 18.66rem;
    padding: 1.38rem 1.44rem;
  } 

  .card-header {
    gap:0.75rem;
  }

  .four-cards .card .card-header > h5 {
    font-size: var(--heading-font-m-tablet);
  }

  .icon-cardarrow > img {
    width: 2.19rem;
    height: 2.19rem;
  }

  .card-header > p > picture > a > img {
    width: 3.25rem;
    height: 3.25rem;
  }

}

@media (width >= 1280px) {
  .four-cards .card {
    width: 257.273px;
    height: 386.773px;
    padding:31.5px 32.5px ;
    max-width: 100%;
    align-self: stretch;
  }

  .four-cards .card .card-header > h5 {
    font-size: var(--heading-font-m);
  }

  .icon-cardarrow > img {
    width: 2.75rem;
    height: 2.75rem;
  }
}

@media (width >= 1440px) {
  .four-cards .card {
    width: 288.067px;
    height: 433.067px;
    flex-shrink: 0;
    padding: 2.3344rem 2.3563rem;
  }

  .icon-cardarrow > img {
    width: 3.13rem;
    height: 3.13rem;
  }
}

