main .faq-section-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem;
}

.faq-section h6 {
    margin: 0;
}

.faq-section h3 {
    margin-bottom: 1rem;
    font-size: var(--heading-font-m);
}

.faq-content-wrapper {
    width: 100%;
}

.img.right.block img {
    height: 100%;
    width: 100%;
}

.library-metadata-wrapper {
    display: none;
}

@media (width >=992px) {
    main .faq-section-container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 5rem 3.44rem;
    }

    .faq-section h3 {
        margin-bottom: 2rem;
    }

    .faq-content-wrapper {
        width: 62%;
    }
}

@media (width >=1280px) {
    main .faq-section-container {
        padding: 5rem 4.44rem;
    }

    .img.right.block img {
        width: 34.5rem;
        height: 32.63rem;
    }

    .faq-content-wrapper {
        width: 50%;
    }

    .faq-section h3 {
        font-size: var(--heading-font-xl);
    }
}

@media (width >=1440px) {
    main .faq-section-container {
        padding: 5rem;
    }

    .img.right.block img {
        width: 100%;
        height: 100%;
    }

}