.columns > div {
    display: flex;
    flex-direction: column;
}

.columns-container {
    padding: 0% !important;
}

.columns img {
    width: 100%;
}

.columns > div > div {
    order: 1;
}

.columns > div > .columns-img-col {
    order: 0;
}

.columns > div > .columns-img-col img {
    display: block;
}

@media (width >= 900px) {
    .columns > div {
        align-items: center;
        flex-direction: unset;
        gap: 24px;
    }

    .columns > div > div {
        flex: 1;
        order: unset;
    }
}

@media (max-width: 768px) {
    .button-container {
        margin-top: 1.5rem;
        text-align: center;
    }

    .button {
        display: inline-block;
        width: 90%;
        max-width: 100%;
        padding: 0.75rem 1.5rem;
    }
}
/* ======================
   Highlighted Banner
   ====================== */

@media (width >= 768px) {
    .highlighted-banner > div {
        display: flex;
        padding: 7.5rem 5rem;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .highlighted-banner > div > div:first-child > picture img {
        max-width: 100%;
        height: auto;
        border-radius: 3.25rem 0;
        background-color: var(--background-sky);
    }

    .highlighted-banner > div > div:last-child {
        margin: 0 0 1rem;
    }

    .highlighted-banner > div > div:last-child > h5 {
        max-width: 39.25rem;
    }

    .highlighted-banner > div > div:last-child > p {
        max-width: 38.75rem;
    }

    .highlighted-banner > div > div:last-child > h5 > em {
        color: var(--text-sky);
        font-style: normal;
    }
}

@media (width < 768px) {
    .highlighted-banner > div {
        display: flex;
        padding: 2.5rem;
        flex-direction: column;
        gap: 2.5rem;
        align-items: center;
        align-self: stretch;
    }

    .highlighted-banner > div > div:first-child > picture img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        border-radius: 2rem 0;
    }

    .highlighted-banner > div > div:last-child {
        padding: 1.5rem 0;
    }

    .highlighted-banner > div > div:last-child > h5 {
        max-width: 100%;
        padding: 0 1rem;
        font-size: var(--heading-font-m);
    }

    .highlighted-banner > div > div:last-child > h6 {
        padding: 0 1rem;
        font-size: calc(var(--heading-font-s) * 0.9);
    }

    .highlighted-banner > div > div:last-child > p {
        padding: 0 1rem;
        font-size: calc(var(--heading-font-s) * 0.95);
    }

    .highlighted-banner > div > div:last-child > h5 > em {
        color: var(--text-sky);
        font-style: normal;
    }
}

/* ======================
     Simple Banner
     ====================== */

.simple-banner {
    background-color: var(--background-light-sky);
}

.simple-banner img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (width >= 768px) {
    .simple-banner > div {
        display: flex;
        gap: 2rem;
        padding: 2.75rem;
    }

    .simple-banner > div > div:last-child > p:nth-of-type(1) {
        max-width: 39.25rem;
    }
}

@media (width < 768px) {
    .simple-banner > div {
        flex-direction: column;
        padding: 1.5rem;
    }

    .simple-banner > div > div:last-child > h5 {
        padding: 0 1rem;
        font-size: calc(var(--heading-font-l) * 0.75);
    }
}

/* ======================
     Partnership Banner
     ====================== */

.partnership-banner {
    background-image: url("../../assets/lines-background.svg");
}

@media (width >= 768px) {
    .partnership-banner > div:last-child {
        padding: 0 5rem;
    }

    .partnership-banner > div:first-child > div > h3,
    .partnership-banner > div:first-child > div > h6 {
        padding: 0 5rem;
    }

    .partnership-banner > div:nth-of-type(2) > div > p {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 0 5rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .partnership-banner > div:nth-of-type(2) > div > p > picture img {
        width: 13.17644rem;
        height: 5.9375rem;
        object-fit: contain;
    }
}

@media (width < 768px) {
    .partnership-banner > div {
        padding: 1.5rem;
        gap: 1.5rem;
    }

    .partnership-banner > div:first-child > div {
        padding: 0 1rem;
    }

    .partnership-banner > div:nth-of-type(2) > div > p {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .partnership-banner > div:nth-of-type(2) > div > p > picture {
        display: flex;
        height: 100%;
    }

    .partnership-banner > div:nth-of-type(2) > div > p > picture img {
        width: 100%;
        max-width: 13.17644rem;
        height: auto;
        object-fit: contain;
    }

    .button-container {
        margin-top: 1.5rem;
    }
}

/* ======================
     Numbers Banner
     ====================== */

.numbers-banner {
    background-image: url("../../assets/waves-background.svg");
}

.numbers-banner > div:first-child > div > h4 > em {
    color: var(--text-sky);
    font-style: normal;
}

@media (width >= 768px) {
    .numbers-banner {
        display: flex;
        padding: 7.5rem 5rem;
        flex-direction: column;
        gap: 2.5rem;
    }

    .numbers-banner > div:first-child > div {
        max-width: 73rem;
        padding: 0 5rem;
    }

    .numbers-banner > div:first-child > div > h6 {
        margin-bottom: 1rem;
    }

    .numbers-banner > div:first-child > div > h4 {
        width: 100%;
        max-width: 48.4375rem;
    }

    .numbers-banner > div:last-child > div {
        padding: 0 5rem;
    }

    .numbers-banner > div:last-child > div > h2 {
        color: var(--text-sky);
        font-size: var(--heading-font-xxl);
        font-weight: var(--text-light);
        line-height: var(--line-height-120);
    }

    .numbers-banner > div:last-child > div > p {
        width: 13.75rem;
    }

    .numbers-banner > div:last-child > div:nth-of-type(2),
    .numbers-banner > div:last-child > div:nth-of-type(3) {
        border-left: 0.125rem solid var(--background-light-sky);
    }
}

@media (width < 768px) {
    .numbers-banner {
        display: flex;
        padding: 2.5rem;
        flex-direction: column;
        align-items: center;
        gap: 1.75rem;
        align-self: stretch;
    }

    .numbers-banner > div:last-child {
        justify-content: center;
    }

    .numbers-banner > div:first-child > div > h4 {
        width: 100%;
        max-width: 19.5375rem;
    }

    .numbers-banner > div:last-child > div > h2 {
        color: var(--text-sky);
        font-size: var(--heading-font-l);
        font-weight: var(--text-regular);
    }

    .numbers-banner > div:last-child > div > p {
        width: 17.375rem;
    }

    .numbers-banner > div:last-child > div:nth-of-type(1),
    .numbers-banner > div:last-child > div:nth-of-type(2) {
        border-bottom: 0.125rem solid var(--background-light-sky);
    }
}

/* ======================
     Icon Banner
     ====================== */

.icon-banner {
    background-color: var(--background-midnight);
    padding: 2rem;
}

.icon-banner > div:last-child > div > h2 {
    color: var(--text-inverse);
    line-height: var(--line-height-120);
}

.icon-banner > div:last-child > div > h2 > em {
    color: var(--text-sky);
    font-style: normal;
}

@media (width >= 768px) {
    .icon-banner > div:first-child > div > p {
        display: flex;
        gap: 3rem;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 1rem 0;
    }

    .icon-banner > div:first-child > div > p > picture img {
        width: 3.5rem;
        height: 3.5rem;
        min-width: 3.5rem;
        object-fit: contain;
    }

    .icon-banner > div:last-child > div > h2 {
        font-size: var(--heading-font-xxl);
        font-weight: var(--text-light);
        max-width: 73rem;
    }
}

@media (width < 768px) {
    .icon-banner > div:first-child > div > p {
        display: flex;
        gap: 3rem;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: center;
    }

    .icon-banner > div:first-child > div > p > picture img {
        width: 1.60875rem;
        height: 2.25rem;
        min-width: 2.5rem;
        padding: 0 0.5rem;
    }

    .icon-banner > div:last-child > div > h2 {
        font-size: calc(var(--heading-font-xxl) * 0.6);
        margin: 1.5rem auto;
        max-width: 19.5rem;
        padding: 0 1rem;
    }
}
