.accordion details summary {
  position: relative;
  list-style: none;
}

.accordion details summary p {
  font-weight: var(--text-medium);
  line-height: var(--line-height-120);
  width: 80%;
}

.accordion details div p {
  margin: 1.25rem 0 1.5rem;
  width: 95%;
}

.accordion details[open] summary p {
  margin: 1.5rem 0 1.25rem;
}

.accordion details {
  border-top: 0.063rem solid var(--border-disabled);
}

.accordion details:last-child {
  border-bottom: 0.063rem solid var(--border-disabled);
}

.accordion details[open] summary {
  background-color: var(--background);
}

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: var(--background);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('/icons/accordion-arrow.svg');
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-180deg);
}

.accordion details[open] .accordion-item-body {
  background-color: var(--background);
}

@media (width >= 600px) {
  .accordion details summary p {
    width: 95%;
  }

}

.accordion.sidebar.block details.accordion-item h6{
  margin: 1.25rem 0;
}

.accordion.sidebar.block details.accordion-item:first-child h6{
  margin-top: 0;
}

.accordion.sidebar.block details.accordion-item p.button-container {
  margin: 0;
}

.accordion.sidebar.block details.accordion-item a{
  color: var(--text-primary);
  font-weight: var(--text-medium);
  margin-bottom: 1rem;
  text-decoration-line: underline;  
  background-color: transparent;
  border-color: transparent;
  border-radius: 0; 
  padding: 0;
}

.accordion.sidebar.block details.accordion-item[open] {
  margin-bottom: 0.25rem;
}

.accordion.sidebar.block details:first-child {
  border-top: none;
}