.article-section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.quote .right > p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.quote .right p:first-child {
  color: var(--text-sky);
  font-size: var(--quote-text);
  font-weight: var(--text-light);
  line-height: var(--line-height-120);
}

.quote .left p:last-of-type, 
.text .right p:last-of-type {
  font-size: var(--caption-text);
  color: var(--text-secondary);
  line-height: var(--line-height-150);
  margin-top: 0.75rem;
}

.quote .left, .text .right, .quote .right, .text .left {
  width: 100%;
}

.quote .left picture > img,
.text .right picture > img {
  width: 100%;
}

@media (width >= 768px) {
  .article-section-content {
    gap: 1.5rem;
    flex-direction: row;
  }

  .quote .left, .text .right {
    width: 45%;
  }
  
  .quote .right, .text .left {
    width: 70%;
  }
}