.modal dialog {
  background-color: var(--background-midnight);
  width: 100vw;
  height: 89vh;
  border-radius: none;
}

.countries p {
  margin: .75rem 0;
  color: var(--text-inverse);
}

.countries-container > div:first-child > p {
  color: var(--text-inverse);
  font-weight: var(--text-bold);
  margin-top: 0;
}

.countries-container > div:first-child > p > span {
  display: none;
}

.countries-container {
  width: 100%;
}

.countries {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.75rem;
  width: 100%;
}

.countries ul {
  margin: 0;
  padding: 0;
}

.countries li {
  list-style: none;
  text-wrap-mode: nowrap;
}

.countries li > a {
  text-decoration: none;
  color: var(--text-inverse);
}

.countries li > a > strong {
  font-weight: var(--text-medium);
}

.countries div div:first-of-type p {
  color: var(--text-sky);
  font-weight: var(--text-bold);
  line-height: var(--line-height-120);
  margin-top: 0;
}

.countries div div:last-of-type p {
  line-height: var(--line-height-120);
}

@media (width >= 393px) {
  .modal dialog {
    width: 100vw;
  }
}

@media (width >= 600px) {
  .countries {
    flex-flow: wrap;
    flex-direction: row;
    gap: 1.75rem;
    width: 100%;
  }

}

@media (width >= 768px) {
  .countries {
    flex-flow: wrap;
    gap: 5.5rem;
    width: 95%;
  }
}

@media (width >= 992px) {
  .modal dialog {
    background-color: var(--background);
  }
  
  .countries-container > div:first-child > p {
    color: var(--text-primary);
    line-height: var(--line-height-120);
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1.75rem; 
  }
  
  .countries-container > div:first-child > p > span {
    display: flex;
  }
  
  .countries {
    gap: 3.2rem;
    width: 100%;
  }
  
  .countries li > a {
    text-decoration: none;
    color: var(--text-primary);
  }
}

