.sidebar-wrapper{
    display:none;
}

@media (width>=600px){
    .accordion.sidebar.block {
        display:none;
    }

    .sidebar-wrapper{
        display:block;
        border-radius: 0.75rem;
        background-color: var(--background-bright-gray);
        padding: 2.5rem;
    }
    
    .sidebar-container {
        width: 30%;   
    }

    main .sidebar-container {
        padding: 0; 
    }
    
    .sidebar > div > div h6{
        margin-bottom: 1rem;  
    }
    
    .sidebar > div >  div > p {
        margin: 0 0 1rem;
        width: 100%;
    }
    
    .sidebar > div >  div > p:last-child {
        margin: 0 0 2rem;
    }

    .sidebar > div >  div:last-of-type > p > a {
        color: var(--text-primary);
        font-weight: var(--text-medium);
        text-align: left;
    }

    .sidebar > div:nth-child(1), .sidebar > div:nth-child(2){
        border-bottom: 0.0625rem solid var(--border-disabled);
    }

    .sidebar > div:nth-child(2) h6, .sidebar > div:nth-child(3) h6{
        padding-top: 2rem;
    }

    .sidebar > div >  div:last-of-type > p > a:hover {
        color:var(--text-sky); 
    }  
}
