h5, p {
  margin: 0;
  padding: 0;
}


.landing-card  {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .625rem;
  margin: 0 auto;  
}

.card {
  display: flex;
  width: 100%;
  max-width: 400px;  
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: var(--border-tear-drop);
  padding: 2rem 2.3rem;
  background: linear-gradient(180deg, rgba(1 27 43 / 100%) 0%, rgba(0 19 30 / 0%) 100%);
  transition: background-image 0.5s ease-in-out;
  min-height: 400px;
}

.card:hover {
  background-image: url('../../assets/card-background.svg'); 
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0.5754rem;
}

.card-header > h5 {
  color: var(--text-inverse);
}

.card-link-icon > p {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

} 

.card-link-icon a.button:any-link,
.card-link-icon > p > span {
  all:unset
}

.icon-cardarrow {
  display: contents;
}

.icon-cardarrow > img {
  width: 2.4453rem;
  height: 2.4453rem;
}

.card-header > p > picture > a > img {
  width: 2.4933rem;
  height: 2.4933rem;
}

@media (768px < width <= 1024px) {
  .landing-card {
      flex-flow: row wrap;
      justify-content: center;
      gap: .625rem;
  }

  .card {
      flex: 1;
      max-width: 32%; /* Two cards per row */
      padding: 1rem 1.3rem;
      min-height: auto;
  }
}

@media (width > 1024px){
  .card {
    width: 25.5rem;
    height: 28.375rem;
    max-width: 400px;
    padding: 2.5rem 3rem;
    flex: 1 1 calc(25% - 16px);
  }

  .card-header {
    gap:0.75rem;
  }

  .icon-cardarrow > img {
    width: 3.1875rem;
    height: 3.1875rem;
  }

  .card-header > p > picture > a > img {
    width: 3.25rem;
    height: 3.25rem;
  }

}

