/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 @import url('../blocks/custom/article-section/article-section.css');
 @import url('../blocks/custom/article-cards/article-cards.css');
 @import url('../blocks/custom/brand-style.css');
 @import url('../blocks/custom/article-socials.css');
 @import url('../blocks/article-banner/article-banner.css');
 @import url('../blocks/custom/article-resources.css');
 @import url('../blocks/faq-section/faq-section.css');
 @import url('../blocks/modal/language-modal.css');
 @import url('../blocks/sidebar/sidebar.css');
 @import url('../blocks/article/article.css');

:root {
  font-family: Inter, sans-serif;

  /* colors */
  --background: white;
  --background-midnight: #011b2b;
  --background-light-sky: #B2DDF5;
  --overlaycolour: #170C09;
  
  /* gradient colors */
  --background-linear-gradient-midnight: #011b2b;
  --background-linear-gradient-dark: #170C09;
  --background-sky: #008fdc;
  --background-black: #000;
  --background-bright-gray: #EEEFEF;
  

  /* button colors */
  --button-primary: #008fdc;
  --button-secondary: #fff;
  --button-tertiary: #fff;
  --button-hover-sky: #008fdc;
  --button-hover-midnight:#011b2b;

  /* icon colors */
  --icon-primary: #414141;
  --icon-inverse: #fff;
  --icon-sky: #008fdc;
  --icon-light-sky: #b2ddf5;

  /* border colors */
  --border-subtle-00: #808080;
  --border-subtle-selected: #414141;
  --border-disabled: #aaa;
  --border-inverse: #fff;
  --border-error: #eb002a;
  --border-sky: #008fdc;
  --border-divider: #1a4371;

  /* brand colors */
  --brand-primary-midnight: #011b2b;
  --brand-primary-sky: #008fdc;
  --brand-support-stone: #9fa7ae;

  /* heading sizes */
  --heading-hero-text: 3.25rem;
  --heading-font-xxl: 4.209rem;
  --heading-font-xl: 1.75rem;
  --heading-font-l: 2.369rem;
  --heading-font-m: 1.777rem;
  --heading-font-s: 1rem;

  /* body sizes */
  --quote-text: 2.369rem;
  --body-text: 1rem;
  --caption-text: 0.75rem;
  --link-text: 0.75rem;

  /* nav height */
  --nav-height: 10.3125rem;

  /* line height */
  --line-height-92: 92%;
  --line-height-120: 120%;
  --line-height-150: 150%;
  --line-height-200: 200%;

  /* text colors */
  --text-primary: #414141;
  --text-secondary: #808080;
  --text-midnight: #011b2b;
  --text-inverse: #fff;
  --text-sky: #008fdc;
  --text-error: #eb002a;

  /* font weight */
  --text-extra-light: 200;
  --text-light: 300;
  --text-regular: 400;
  --text-medium: 500;
  --text-bold: 700;

  /* border-radius */
  --border-tear-drop: 1.5rem 0rem;
  --border-corner: 0.75rem;
}


@media (width >= 600px) {
  :root {
    --quote-text: 1.77rem;
    --heading-font-m: 1.77rem;
  }
}

@media (width >= 768px) {
  :root {
    --border-tear-drop: 3.25rem 0rem;
  }
}

@media (width >= 992px) {
  :root {
    --heading-hero-text: 5.61rem;
    --heading-font-xl: 3.156rem;
  }
}

@media (width >= 1280px) {
  :root {
    --heading-font-m: 1.75rem;
    --quote-text: 3.5rem;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-primary);
  font-size: var(--body-text);
  line-height: var(--line-height-150);
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
  font-size: var(--body-text);
  font-style: normal;
  font-weight: var(--text-medium);
  line-height: var(--line-height-120);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: var(--heading-font-family);
  line-height: var(--line-height-120);
  scroll-margin: 40px;
  color: var(--text-primary);
}

h1 { 
  font-size: var(--heading-hero-text); 
  font-weight: var(--text-extra-light);
  line-height: var(--line-height-92);
}

h2 { 
  font-size: var(--heading-font-xxl); 
  font-weight: var(--text-light);
}

h3 { 
  font-size: var(--heading-font-xl); 
  font-weight: var(--text-bold);
  color: var(--text-midnight);
  margin-top: 0.75rem;
}

h4, h4 > em { 
  font-size: var(--heading-font-l); 
  font-weight: var(--text-regular);
  font-style: normal;
}

h5 { 
  font-size: var(--heading-font-m); 
  font-weight: var(--text-regular);
}

h6, h6 > em { 
  font-size: var(--heading-font-s); 
  font-weight: var(--text-bold);
  text-transform: uppercase;
  font-style: normal;
  color: var(--text-sky);

}

p,
dl,
ol,
ul,
pre {
  margin: 1.5rem 0;
  font-weight: var(--text-regular);
  line-height: var(--line-height-150);
}

blockquote {
  font-size: var(--quote-text);
  font-weight: var(--text-light);
  line-height: var(--line-height-120);
}

code,
pre {
  font-size: var(--body-font-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--background);
  overflow-x: auto;
  white-space: pre;
}

input,
textarea,
select,
button {
  font: inherit;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

main picture img {
  border-radius: var(--border-tear-drop);
}

.icon {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

.icon img {
  width: 1rem;
  height: 1rem;
}

main {
  margin: 0;
  max-width: 100%;
}

main .section {
  padding: 2.5rem;
}

main > .section:first-of-type {
  margin-top: 0;
}


@media (width >= 992px) {
  main .section {
    padding: 7.5rem 3.44rem;
  }
}

@media (width >= 1280px) {
  main .section {
    padding: 7.5rem 4.44rem
  }
}

@media (width >= 1440px) {
  main .section {
    padding: 7.5rem 5rem
  }
}


/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--background);
  margin: 0;
  padding: 40px 0;
}

/* links */
a:any-link {
  color: var(--text-sky);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  word-break: break-word;
  cursor: pointer;
}

a:hover {
  color: var(--text-primary);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  cursor: pointer;
}

/* buttons */

.button-container {
  margin: 0;
  margin-top: 1.75rem;
  text-align: center;
}

.button {
    display: inline-block;
    width: 90%;
    max-width: 100%;
    padding: 0.75rem 1.5rem;
}

a.button:any-link,
button {
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2.5rem;
  background-color: var(--button-primary);
  color: var(--text-inverse);
  max-width: 100%;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--body-font-family);
  font-size: var(--body-text);
  font-style: normal;
  font-weight: var(--text-bold);
  line-height: var(--line-height-120);
  text-decoration: none;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--button-hover-midnight);
  border: 2px solid var(--button-hover-sky);
  border-radius: 2.5rem;
  cursor: pointer;
  text-decoration: none;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
  text-decoration: none;
}

a.button.secondary,
button.secondary {
  background-color: var(--button-tertiary);
  color: var(--text-primary);
  cursor: pointer;
}

a.button.secondary:hover,
a.button.secondary:focus,
button.secondary:hover,
button.secondary:focus {
  background-color: var(--background-light-sky);
  border: 0.125rem solid var(--button-hover-sky);
  border-radius: 2.5rem;
  cursor: pointer;
  text-decoration: none;
}

a.button.tertiary,
button.tertiary {
  background-color: var(--button-tertiary);
  border: 1px solid var(--button-primary);
  color: var(--text-primary);
  border-radius: .25rem;
  cursor: pointer;
  display: inline-flex;
  padding: 0.5rem;
  align-items: center;
  gap: 0.625rem;
  text-align: center;
  font-size: var(--link-text);
  font-weight: var(--text-medium);
  line-height: var(--line-height-120);
  list-style: none;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (width > 992px) {
  .button-container {
    text-align: left;
  }

  .button {
    padding: 0.875rem 1.5rem;
    display: inline-flex;
    width: fit-content;
    text-align: center;
  }

}

a.button.secondary:hover,
button.secondary:hover,
a.button.tertiary:hover,
button.tertiary:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #EEEFEF;
}
